@font-face {
  font-family: 'ProximaNova';
  src: url('fonts/ProximaNova-Thin.otf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('fonts/ProximaNova-Regular.otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('fonts/ProximaNova-Bold.otf');
  font-weight: 500;
  font-style: normal;
}
body, html {
  background-color:#ededf4;
  font-family: 'ProximaNova';
  line-height:12px;
}
.front-page-filler {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  width:100%;
  height:100%;
  margin:auto 0;
  opacity:.2;
  text-align: center;
}
.front-page-filler i {
  font-size: 120px;
  margin-bottom:20px;
}
.navbar {
  background-color: #514b9a!important;
  color:#fff;
  display:flex;
  font-family: 'ProximaNova'!important;
  font-weight:300!important;
  height:50px;
}
@media (max-width:380px) {
  .app-title {
    font-weight:400;
    text-align:center!important;
    width:100%;
  }
  .navbar {
    display:block;
    height:84px;
  }
  .form-controls {
    margin-top:10px;
    width:100%!important;
  }
}
.app-title {
  float: left;
  min-width: 90px;
  position:relative;
}
.form-controls {
  display:flex;
  float: right;
  width:65%;
  justify-content: flex-end;
}
.form-control {
  border-radius:0px!important;
  height:34px;
  margin-right:10px;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}
#myInputautocomplete-list {
  width:100%;
  right:0;
}
.autocomplete-items div {
  color:black;
}
@media (max-width:380px) {
  #myInputautocomplete-list {
      width:100%;
  }
}
/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}
.autocomplete-active {
  background-color: #8d899e!important;
  color:white;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

/*input[type="text"] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type="submit"] {
  background-color: blue;
  color: #fff;
  cursor: pointer;
}*/

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.form-button {
  background-color: #262347;
  color:white;
  height:34px;
  padding:5px 5px;
  width:70px;
}
.front-page-filler.invisible {
  display:none;
}
.movie-content.invisible {
  display:none;
}
.nav-button table {
    pointer-events: none;
    height:100%;
    width:100%;
  }
.nav-button.clicked {
    background-color: rgba(81, 75, 154, .10);
}
.button-text {
    position:relative;
    vertical-align: middle;
    padding:auto 0px;
    font-size:10px;
    font-weight:400;
    text-align:center;
  }
@media (min-width: 992px) {
  .form-controls {
    margin-left:120px;
    max-width: 600px;
  }
}

.movie-title {
  display:block;
  padding:10px 0 0 14px;
  font-family:ProximaNova;
  text-align: left;
  font-size:28px;
  line-height:46px;
}
.movie-info {
  display:block;
  padding:5px 0 0 20px;
  font-family:ProximaNova;
  text-align: left;
  font-weight:200;
}
#movie-container {
  background-color: white;
  height:130px;
  position:relative;
}
.button-array {
  font-family:ProximaNova;
  justify-content: space-between;
  position: absolute;
  bottom:0;
  display:flex;
  width:100%;
  padding:0 10px;
  z-index: 1;
}
.button {
  box-shadow: 0 0 0;
  cursor:pointer;
  font-size:10px!important;
  padding:10px 2px;
  width:100%;
  margin:0 0;
}
.button:hover {
  background-color: rgba(0,0,0,0.05);
  box-shadow: 0 0 0;
}
.button.clicked:hover {
  background-color: rgba(81, 75, 154, .10);
}
.button:not(.clicked) {
  box-shadow:0 4px 2px -1px rgba(0,0,0,0.06);
}
.nav-button:active {
    background-color: rgba(81, 75, 154, .10);
}
.background-area {
  padding-top:20px;
  position:relative;
  top:0;
  height:110%;
}
/* FIRST PAGE STYLING */
.four-element-page-container {
  display:none;
  grid-template-columns: 50% 50%;
  margin:20px auto 0;
  position:relative;
  width:80%;
}
.four-chart-page-container {
  display:none;
  grid-template-columns: 50% 50%;
  margin:20px auto 0;
  position:relative;
  width:80%;
}
@media (max-width:750px) {
  .four-chart-page-container {
    padding-left:5%;
    width:90%;
    margin:20px 30px 0 auto;
  }
}
@media (max-width:570px) {
  .four-chart-page-container {
    padding-left:0;
  }
}
@media (max-width:490px) {
  .four-chart-page-container {
    grid-template-columns: 100%;
    margin:5% auto 0;
  }
}
.list-page-container {
  display:none;
}
.page-container.clicked {
  display:grid;
}
@media (max-width:1000px) {
  .four-element-page-container {
    width:90%;
    margin:20px auto 0;
  }
}
@media (max-width:800px) {
  .four-element-page-container {
    grid-template-columns: 100%;
    margin:20px auto 0;
  }
  .content-box {
    width:auto;
    min-width:280px;
    margin:0 10px 10px 20px;
  }
}
@media (max-width:600px) {
  .four-element-page-container {
    grid-template-columns: 100%;
    margin:20px auto 0;
    width:95%;
  }
  .content-box {
    width:100%!important;
    min-width:310px;
    margin:0 0 10px 0!important;
  }
}
.content-box {
  background-color:#d8dbe3!important;
  width:auto;
  min-width:355px;
  margin:0 20px 20px 20px;
}
.content-box-top {
  display:flex;
  padding:5px 10px;
}
.content-box-hed {
  font-size:12px;
  font-weight:400;
  margin-right:2px;
  text-transform: uppercase;
}
.content-box-dek {
  font-size:10px!important;
}
.similar-movies-inner {
  list-style: none;
  padding:0 10px !important;
  margin-bottom:2px;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.similar-movies-inner li {
  background-color:white;
  border:1px solid rgba(0,0,0,.2);
  margin-bottom:2px;
  padding:4px 2px 2px 2px;
  font-size:12px;
  width: 100%;
  line-height: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform:uppercase;
}
.similar-movies-bottom {
  font-style: italic;
  font-size:10px;
  padding:5px 10px;
}

.explanatory-text {
  width:95%;
  font-weight:300;
  line-height:15px;
  margin:0 auto;
  padding:0 0;
  grid-column: 1 / -1;
}
.explanatory-hed {
  font-weight:500;
}

.list-box {
  display:flex;
}
.list-box-left {
  width:20px;
  font-size:8px;
  font-weight:500;
  display:flex!important;
  flex-direction: column;
}
.list-box-left-text {
  height:100px;
  text-align:center;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.conceptual-links-inner {
  margin-bottom:5px;
  display:grid;
  list-style: none;
  padding:0 10px;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
.conceptual-links-inner li {
  text-align: center;
  background-color: white;
  margin:5px auto;
  padding:5px 2px 4px;
  width:90%;
  min-width:60px;
  height:60px;
}
.concept-hed {
  font-size:8px;
  font-weight:500;
  pointer-events: none;
}
.concept-icon {
  display:block;
  font-size:30px!important;
  pointer-events: none;
}
.concept-words {
  font-size:7px;
  line-height: 7px;
  pointer-events: none;
  display:none;
  margin:2px 2px;
}
.conceptual-links-item.visible .concept-words {
  display:block;
}
.conceptual-links-item.visible .concept-icon,.conceptual-links-item.visible .concept-hed {
  display:none;
}
.favorable-list {
  list-style: none;
  padding:0 10px 5px 5px;
  margin-bottom:2px;
  width:100%;
}
.favorable-list-item {
  background-color:white;
  margin:0 0 2px 0;
  font-size:10px;
  padding:3px 1px 1px 4px;
  width: 90%;
}
.favorable-list li {
  display:flex;
  margin-bottom:2px;
  font-size:10px;
  line-height: 12px;

}
.figure {
  font-weight:500;
  line-height:16px;
  text-align: right;
  width:16px;
}
.unfavorable {
  background-color:#515151;
  color:white;
}
/*MAP DATA*/

#geographics-page {
  display:none;
  position:relative;
}
#geographics-page.clicked {
  display:block;
}
.map-explanation {
  margin:20px auto 0;
  font-size:14px;
  line-height:14px;
  width:80%;
}
#map {
  margin-top:-110px;
  text-align: center;
  display:flex;
  justify-content: space-around;
  z-index: -100;
}
#textbox {
  font-family: ProximaNova; 
  font-size:14px;
  pointer-events: none;
  text-align:center;
  width:100%;
}
#textbox span {
  font-weight:500;
}
/*DEMOGRAPHICS DATA*/
@media (max-width:700px) {
  #demographics-page {
    margin-left:32px;
  }
}
#demographics-explanatory {
  margin-left:-0px;
  font-size:14px;
}
@media (max-width:700) {
  #demographics-explanatory {
    margin-left:-40px;
  }
}
#demographics-explanatory {
  margin-left:-0px;
  font-size:14px;
}
.four-chart-page-container svg {

}
/*BRAND DATA*/
.brand-list-hed {
  font-weight:500;
  font-size:16px;
  margin-bottom:12px;
  padding-left:20px;
}
.brand-list-inner {
  padding:0 0;
}
.brand-list-inner li {
  line-height:14px;
  list-style: none;
  padding:5px 20px;
}
.brand-list-inner li:nth-child(even) {
  background-color:white;
}
.brand-list-item-hed {
  margin-bottom:4px;
  font-weight:500;
}
@media (min-width:610px) {
  .brand-list-inner li {
    display:flex !important;
    font-size:12px;
  }
  .brand-list-item-hed {
    min-width:130px !important;
  }
}
@media (min-width:680px) {
  .brand-list-inner li {
    display:flex !important;
    font-size:14px;
  }
  .brand-list-item-hed {
    min-width:140px !important;
  }
}
@media (min-width:760px) {
  .brand-list-item {
    width:100%;
    text-align: right;
  }
}
#advertising-page {
  padding-left:10px;
  font-size:14px;
  width:90%;
}
#advertising-explanatory {
  text-align: center;
}
#advertising-page svg {
  background-color:#ededf4;
}
#advertising-page svg #titletext {
  font-size:12px;
  font-family:ProximaNova;
  font-weight:500!important;
}
.stop-left {
    stop-color: #514b9a;  /* Indigo */
}

.stop-right {
    stop-color: #ededf4;  /* Teal */
}

.filled {
    fill: url(#mainGradient);
}
.label {
  font-family: ProximaNova;
  font-weight:400;
}
@media (max-width: 800px) {
  #advertising-page {
    grid-template-columns: 100%;
  }
}
#error-explanatory {
  color:rgba(38, 35, 71, .6);
  font-weight:400;
  margin-top:160px;
  padding:0 60px;
}